{% extends 'base.html.twig' %}

{% block title %}Association{% endblock %}

{% block body %}
    <h1>Associer du matériel à un client</h1>

    {{ include('lien/_form.html.twig') }}

    <a href="{{ path('app_app') }}">Retour à l'accueil</a>
{% endblock %}
